<nav class="navbar">
    <a href="#home" class="nav-logo">{{ site.title }}</a>
    <ul class="nav-links" id="navLinks">
        <li><a href="#home" class="active">Home</a></li>
        <li><a href="#About">About</a></li>
        <li><a href="#amenities">Amenities</a></li>
        <li><a href="#rate">Rates & Policies</a></li>
        <li><a href="#book-now">Book Now</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
    <button class="menu-toggle" id="menuToggle">☰</button>
</nav>
